body #menu {
    border-bottom: 2px olive solid;
    background-color: rgba(128, 128, 0, 0.25);
}

body div#content {
    padding:1em;
}
a.gift {
    display:flex;
    flex-direction: row;
    align-content: center;
    width: 20em;
    height: 3.25em;
    border: 1px olive solid;
    background-color: rgba(128, 128, 0, 0.25);
    font-size: 1.5em;
    color:black;
    border-radius: 0.5em;
}
a.gift .icon {
    position:relative;
    top:0.1em;
    height: 3em;
}
a.gift .label {
    height: 3em;
    flex-grow: 1;
    text-align:center;
}

a.gift .bought_box {
    display:inline-block;
    text-align:center;
    flex-grow: 1;
}

a.gift .bought_box input {
    height: 1em;
    width: 1em;
    margin-top: 0.5em;
}

li.logout a img.profile {
    max-width:2em;
    max-height:2em;
    border-radius: 1em;
}

div.profile_card {
    border: 1px solid black;
    border-radius: 2em;
    text-align: center;
    font-size: 1.5em;
    background-color:rgba(128, 128, 0, 0.25);
}

div.profile_card a img {
    padding:2em;
    width:100%;
    box-sizing: border-box;
}

div.profile_card a div {
    padding-bottom: 2em;
}

img.profile_image {
    width: 10em;
}